div
  label(for="title") Title:
  input(type="text" name="title" value=book.title id="title")
div
  label(for="author") Author:
  input(type="text" name="author" value=book.author id="author")
div
div
  label(for="genre") Genre:
  input(type="text" name="genre" value=book.genre id="genre")
div
  div
  label(for="year") Year:
  input(type="text" name="year" value=book.year id="year")
div
  
  
input(type="submit" value="Update book")