extends layout 

block content 

    h1 New Book 

    include errors

    form(action= '/books/new' , method="post" )
        p
            label(for="1") Title:
            input( type='text' name= "title" id="1")
        p
            label(for="2") Author:
            input( type='text' name= "author" id="2") 
        p
            label(for="3") Genre:
            input( type='text' name= "genre" id='3')
        p
            label(for="4") Year:
            input( type='text' name= "year" id='4')
        p
            input(type="submit" name= "new_book" value="Create a new book") 
        p    
            a.button(href='/')  Cancel