extends layout 

block content 

    h1 New Book 

    input( type='text' name= "Author")  
    input( type='text' name= "Title")
    input( type='text' name= "Genre")
    input( type='text' name= "Year")

    h3 Title
    h3 Author 
    h3 Genre 
    h3 Year

    button(type=submit ) Create a new book