extends layout 
block content 
        h1 Update Book 

        include errors
        
        form(action= '/books/' + book.id , method="post" )
            include form
            div
                input(type="submit" value="Update book")
                a.button(href="/books") Cancel

        form(action="/books/" + book.id + "/delete", method="post")
             input(type="submit", value = "Delete book")
